<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4DA5F4">
    <meta name="csrf-token" content="v1SVg8MUe6pFQND6WjfHJIxxzJqGgyWBYBNCg=">
    <title>{{{title}}} - Hackathon Starter</title>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="/js/style.css">
</head>
<body>
    <h2></h2>
    <div id="root">{{{html}}}</div>
    <script src="/js/bundle.js"></script>
</body>
</html>