doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='theme-color' content='#4DA5F4')
        meta(name='csrf-token', content=_csrf)
        title #{title} - Hackathon Starter
        link(rel='shortcut icon', href='/favicon.png')
        link(rel='stylesheet', href='/js/style.css')

    body
        h2 #{title}
        #root


    script(src='/js/bundle.js')


