.Grid-icons {
    height: 100px;
    width: 100%;
    border: 4px solid #aeaeae;
    margin-bottom: 20px;
    display: flex;
    padding: 0 2.5px;
    cursor: pointer;
    transition: all .5s ease;
}
.Grid-icons:hover {
    border: 4px solid #5C9ACF;
}
.Grid-icons:hover .Grid-icons__inner {
    background: #5C9ACF;
}
.Grid-icons__inner {
    flex-grow: 1;
    background: #aeaeae;
    margin: 5px 2.5px;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}
